<h2>Add a Candidate</h2>
<br><br>
<!-- <form [formGroup]="candidateForm" (ngSubmit)="submitProuctDetails()"> -->

<form [formGroup]="candidateForm" (ngSubmit)="submitCandidateForm()">
    <div class="container">

        <div class="form-group">
            <input type="text" formControlName="candidateName" placeholder="Cadidate Name" class="form-control" />
        </div>
        <div *ngIf="candidateForm.controls['candidateName'].hasError('required')" class="alert alert-danger">
            Please Add Name
        </div>
        <div *ngIf="candidateForm.controls['candidateName'].hasError('minlength')" class="alert alert-danger">
            Please Add Minimum Length 3
        </div>

        <br />
        <div class="form-group">
            <input type="text" formControlName="primarySkills" class="form-control" placeholder="Primary Skills" />
            <div *ngIf="candidateForm.controls['primarySkills'].hasError('required')" class="alert alert-danger">
                Please primary Skills
            </div>
            <div *ngIf="candidateForm.controls['primarySkills'].hasError('minlength')" class="alert alert-danger">
                Please Add Mainimum Length 3
            </div>
        </div>

        <br />
        <div class="form-group">
            <input type="text" formControlName="secondarySkills" class="form-control" placeholder="Secondary Skills" />
            <!-- <div *ngIf="candidateForm.controls['secondarySkills '].hasError('required')" class="alert alert-danger">
                Please Add secondary Skills 
            </div>
            <div *ngIf="candidateForm.controls['secondarySkills '].hasError('minlength')" class="alert alert-danger">
                Please Add Minimum Length 3
            </div> -->
        </div>

        <br />
        <div class="form-group">
            <input type="number" formControlName="experience" class="form-control"
                placeholder="Experience (in years)" />
        </div>

        <br />
        <div class="form-group">
            <input type="text" formControlName="qualification" class="form-control" placeholder="Qualification" />
        </div>

        <br />
        <div class="form-group">
            <input type="text" formControlName="designation" class="form-control" placeholder="Designation" />
        </div>

        <br />
        <div class="form-group">
            <input type="number" formControlName="noticePeriod" class="form-control" placeholder="Notice Period" />
        </div>

        <br />
        <div class="form-group">
            <input type="text" formControlName="location" class="form-control" placeholder="Location" />
        </div>

        <br />
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
        <br />
    </div>
</form>

<h2>Candidate List</h2>

<table border="5px" class="table table-borderless">

    <thead>
        <tr>
            <td>Id</td>
            <td>Name</td>
            <td>Primary Skills</td>
            <td>Secondary Skills</td>
            <td>Experience</td>
            <td>Qualification</td>
            <td>Designation</td>
            <td>Notice Period</td>
            <td>Location</td>
        </tr>
    </thead>

    <tr *ngFor='let detail of candidates '>
        <td>{{detail.id}}</td>
        <td>{{detail.candidateName}}</td>
        <td>{{detail.primarySkills}}</td>
        <td>{{detail.secondarySkills}}</td>
        <td>{{detail.experience}}</td>
        <td>{{detail.qualification}}</td>
        <td>{{detail.designation}}</td>
        <td>{{detail.noticePeriod}}</td>
        <td>{{detail.location}}</td>
        <td><button type="button">Edit</button></td>
        <td><button type="button">Delete</button></td>
    </tr>
</table>