<!-- <app-panel-form></app-panel-form>  -->

<!-- <interview-form></interview-form> -->
<!-- <login-form></login-form>  -->

<!-- <div class="container">
    <nav>
        <a routerLink="/home" routerLinkActive="active">Home</a><br>
    </nav>
</div> -->

<!-- <interview-form></interview-form> -->
<!-- <app-candidate-form></app-candidate-form> -->


<!-- <interview-form></interview-form> -->
<app-candidate-form></app-candidate-form>

<!-- <app-techinterview></app-techinterview> -->


<!-- <div class="container">
        <nav>
            <a routerLink="/login" routerLinkActive="active">Login</a><br>
    
        </nav>
    </div> -->



 <!-- <interview-form></interview-form> -->
<!--<app-candidate-form></app-candidate-form>-->
<!-- <hr-form></hr-form>
 <app-techinterview></app-techinterview> -->
<router-outlet></router-outlet>